body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: normal;
  src: local('BasisGrotesquePro-Regular'), url(./fonts/BasisGrotesquePro-Regular.ttf) format('truetype');
}